.header-logo{
    height: 41px;
    width: 210px;
    margin-top: 25px;
}

.header-text{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 23px;
color: #4A4A4A;

margin-top: 32px;

}

.body-header{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
color: #4A4A4A;

margin-top: 35px;
}

.body-block{

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.lines{
    margin-top: 35px;
}

.dirname{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #4A4A4A;

text-align: left;
margin-left: 36px;
margin-top: 10px;
}

.dirtext{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #4A4A4A;

text-align: left;
margin-left: 36px;
margin-top: 10px;
}