body{
    cursor: default;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

.menu-logo{
    height: 41px;
    width: 210px;
    margin-top: 25px;
}

.menu-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #4A4A4A;

    margin-top: 32px;

    &:hover{
        text-decoration: underline;
    }
}

.main-header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #4A4A4A;
    text-align: center;
    margin-top: 35px;
}



.main-block{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.10);
    min-height: 358px;
    font-family: Montserrat;
    font-style: normal;
    color: #4A4A4A;
    text-align: center;

    &:hover{
        box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
    }

    &-name{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: left;
        margin-left: 36px;
        margin-top: 10px;
    }

    &-text{
        height: 40px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-align: left;
        margin-left: 36px;
        margin-top: 40px;

        &::before {
            content: "";
            position: absolute;
            width: 120px;
            height: 0px;
            left: 35px;
            top: 200px;
            border: 2px solid #FC9E24;
            margin: 0 auto;
        }
    }

    .button-red{
        position: absolute;
        width: 126px;
        height: 45px;
        margin-left: 110px;
        margin-top: 20px;

        background: #FE7053;
        border-radius: 30px;

        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        padding-top: 12px;
        color: #FFFFFF;

        &:hover{
            color: #4A4A4A;
        }
    }
}

.register{
    background-color: #A9AC37;
    text-align: center;

    &-container{
        display: flex;
        justify-content: center;
        vertical-align: middle;

        &-text{      
            text-align: center;
            margin-top: 30px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            color: white;

            &::before {
                content: "";
                position: absolute;
                width: 120px;
                height: 0px;
                top: 15px;
                left: 420px;
                border: 2px solid #FFFFFF;
                margin: 0 auto;
            }
        }

        &-button{  
            margin-bottom: 20px;    
            min-width: 156px;
            max-width: 156px;
            border: 3px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 30px;
    
            margin-top: 30px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 52px;
            /* identical to box height */
            text-align: center;

            color: #FFFFFF;

            &:hover{
                border-color: #4A4A4A;
                color: #4A4A4A;
                background-color: #A9AC37;
            }
        }
    }
}

.footer{
    
    background-color:#4A4A4A;
    text-align: center;
    width: auto;

    &-container{
        
        display: flex;
        justify-content: center;
        vertical-align: middle;

        &-title{
            text-align: center;
            margin-top: 20px;
            margin-bottom: 30px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 23px;
        
            color: #FFFFFF;
        }

    }

    
    &-text{
        margin-left: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height */
        color: #FFFFFF;
        text-align: left;
    }

    &-image{
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 50px;
        float: left;
    }

    &-list{

        li{
            list-style-type: none;
            height: 50px;
        }
    }

    &-direction{
        column-count: 2;
    }

    &-socials{
        padding-left: 80px;
    }

    &-copyright{

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        /* identical to box height */
        color: #FFFFFF;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            width: 120px;
            height: 0px;
            left: 900px;
            border: 2px solid #FC9E24;
            margin: 0 auto;
        }
    }



}






