body {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.menu-logo {
  height: 41px;
  width: 210px;
  margin-top: 25px;
}

.menu-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #4A4A4A;
  margin-top: 32px;
}
.menu-text:hover {
  text-decoration: underline;
}

.main-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #4A4A4A;
  text-align: center;
  margin-top: 35px;
}

.main-block {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  min-height: 358px;
  font-family: Montserrat;
  font-style: normal;
  color: #4A4A4A;
  text-align: center;
}
.main-block:hover {
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
}
.main-block-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin-left: 36px;
  margin-top: 10px;
}
.main-block-text {
  height: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  margin-left: 36px;
  margin-top: 40px;
}
.main-block-text::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 0px;
  left: 35px;
  top: 200px;
  border: 2px solid #FC9E24;
  margin: 0 auto;
}
.main-block .button-red {
  position: absolute;
  width: 126px;
  height: 45px;
  margin-left: 110px;
  margin-top: 20px;
  background: #FE7053;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  padding-top: 12px;
  color: #FFFFFF;
}
.main-block .button-red:hover {
  color: #4A4A4A;
}

.register {
  background-color: #A9AC37;
  text-align: center;
}
.register-container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.register-container-text {
  text-align: center;
  margin-top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: white;
}
.register-container-text::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 0px;
  top: 15px;
  left: 420px;
  border: 2px solid #FFFFFF;
  margin: 0 auto;
}
.register-container-button {
  margin-bottom: 20px;
  min-width: 156px;
  max-width: 156px;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
  margin-top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 52px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}
.register-container-button:hover {
  border-color: #4A4A4A;
  color: #4A4A4A;
  background-color: #A9AC37;
}

.footer {
  background-color: #4A4A4A;
  text-align: center;
  width: auto;
}
.footer-container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.footer-container-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
}
.footer-text {
  margin-left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height */
  color: #FFFFFF;
  text-align: left;
}
.footer-image {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 50px;
  float: left;
}
.footer-list li {
  list-style-type: none;
  height: 50px;
}
.footer-direction {
  column-count: 2;
}
.footer-socials {
  padding-left: 80px;
}
.footer-copyright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  /* identical to box height */
  color: #FFFFFF;
  text-align: center;
}
.footer-copyright::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 0px;
  left: 900px;
  border: 2px solid #FC9E24;
  margin: 0 auto;
}
